<!DOCTYPE html>
<html>
  <head>
    <title>Verdy Noorghifari</title>
    <meta name="author" content="vrizaldi">
		<link id="favicon" rel="icon" href="/favicon.png">
	<!--
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
	-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome.min.css" rel="stylesheet">
		<link href="/index.css" rel="stylesheet">
  </head>

  <body>
  	<!-- navbar at the top -->
  	<nav id="top-navbar" role="banner" class="navbar navbar-default navbar-toggleable fixed-top">
      <a class="navbar-brand" href="/">vrizaldi</a>

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
        <i class="fa fa-list fa-1x"></i>
      </button>

  		<div id="nav" 
        class="collapse navbar-collapse justify-content-end"
      >
        <ul class="navbar-nav">
          <li id="about-nav" class="page-nav active">
        		<a href="#about" 
              class="nav-link">About</a>
          </li>

          <li id="portofolio-nav" class="page-nav">
        		<a  
              href="#portofolio" 
              class="nav-link">Portofolio</a>
          </li>

          <li id="contact-nav" class="page-nav">
        		<a href="#contact" 
              class="nav-link">Contact</a>
          </li>
        </ul>
  		</div>
  	</nav>

  	<!-- content -->
  	<main class="container-fluid">
  		<div id="about-sec" class="section">
	  		<h1 id="name" class="title">Verdy Noorghifari</h1>
	  		<p id="bio">
		  		A self taught developer who is passionate about Web, Mobile app and open source development; I am eager to learn as more technologies are becoming available.
		  	</p>
        
  		</div>

      <div id="skills-wrapper" class="section">
        <ul id="skills">
          <li><i class="fa fa-html5"></i> HTML5</li>
          <li><i class="fa fa-css3"></i> CSS3</li>
          <li>Bootstrap</li>
          <li>Javascript &amp; ES6</li>
          <li>JQuery</li>
          <li>ReactJS + Redux</li>
          <li>Express.js</li>
          <li>Node.js</li>
          <li><i class="fa fa-git"></i> git</li>
        </ul>
      </div>

  		<div id="portofolio-sec" class="section">
  			<h1 class="title">&lt;Projects /&gt;</h1>
  			<p>
	  			These are some of the side projects that I have done, all open source and available online - you can use them as reference whenever you want. Most of them are stored in Github and I use other websites to host the web page and server: Codepen (for front-end), Heroku and Glitch.com (for full-stack development or API projects)
  			</p>

  			<div id="projects-wrapper">
          <div id="grid-sizer"></div>
        </div>

  		</div>

  		<div id="contact-sec" class="section">
  			<h1 class="title">&lt;Contact /&gt;</h1>
  			<p>
  				If you have any business query, want to consult with me or have a any idea on how I could improve this website, please contact me through email - I am very open to opportunity and suggestion.
  			</p>

  			<div id="contact-form" class="form-group">
          <div class="form-group">        
    				<label for="full-name">Name</label>
  	  			<input id="full-name" 
  	  				class="form-control contact-field" 
  	  				placeholder="Your full name here"
  	  				data-toggle="tooltip"
  	  				data-placement="right"
  	  				title="Tell me how I should address you in the response"
            >	  			
          </div>
          <div class="form-group">
    				<label for="email">Email</label>
  	  			<input id="email" 
  	  				class="form-control contact-field" 
              type="email"
  	  				placeholder="e.g. yourname@someprovider.com"
  	  				data-toggle="tooltip"
  	  				data-placement="right"
  	  				title="Tell me where I should send the response"
            >	 
          </div>
          <div class="form-group">        
            <label for="subject">Subject</label>
            <input id="subject" 
              class="form-control contact-field" 
              placeholder="The subject of the message"
              data-toggle="tooltip"
              data-placement="right"
              title="What are we going discussing?"
            >         
          </div> 			
          <div class="form-group">
    				<label for="message">Message</label>
  	  			<textarea id="message" 
  	  				class="form-control contact-field"
  	  			  placeholder="Enter your message here! :)"
              data-toggle="tooltip"
              data-placement="right"
              title="What do you have to say?" 
            ></textarea>
            <a id="contact-form-submit" class="btn btn-primary" href="mailto:vrizaldi@gmail.com" target="blank">Send!</a>  
          </div>
        </div>
  		</div>

  		<footer id="footer">
  			<ul id="soc-med">
          <li>
            <a href="https://www.facebook.com/M.VerdyRizaldi"><i class="fa fa-facebook-official"></i></a>
          </li>
          <li>
            <a href="https://codepen.io/vrizaldi/"><i class="fa fa-codepen"></i></a>
          </li>
          <li>
            <a href="https://github.com/vrizaldi"><i class="fa fa-github"></i></a>      
          </li>
          <li>
            <a href="https://www.freecodecamp.com/vrizaldi"><i class="fa fa-free-code-camp"></i></a>            
          </li>
        </ul>
  		</footer>
  	</main>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/tether.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/masonry.pkgd.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
