<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>THE Timestamp Microservice</title>
    <meta name="description" content="Easy timestamp operations">
	<!--
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
	-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

	<h1>Timestamp Microservice</h1>
	<p>Gives you Unix and natural timestamp from the provided Unix timestamp
	or natural timestamp (e.g. March 20, 2001)</p>
	<h2>Example use:</h2>
	<ul class="example example-list">
		<li>Natural: https://the-timestamp-micro.glitch.me/March%2020,%202001</li>
		<li>Unix: https://the-timestamp-micro.glitch.me/985046400000</li>
	</ul>
	<h2>Example output</h2>
	<p class="example">
	{<br>
	&nbsp;&nbsp;unix: 985046400000<br>
	&nbsp;&nbsp;natural: "March 20, 2001"<br>
	}</p>
  </body>
</html>
