/* styles */
/* called by your view template */

/* body and main container */
body {
	margin: 0;
	padding: 60px 0 0 0;
	background-color: #000;
	font-family: 'Arvo';
}

.container-fluid {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

/* main nav bar (top) */
#top-navbar {
	position: fixed;
	background-color: #fff;
	box-shadow: 0 0px 5px 0px rgb(108, 107, 106);
	-moz-box-shadow: 0 0px 5px 0px rgb(108, 107, 106);
	-webkit-box-shadow: 0 0px 5px 0px rgb(108, 107, 106);
	-o-box-shadow: 0 0px 5px 0px rgb(108, 107, 106);
}

.navbar-toggler {
	background-color: rgb(255, 99, 71);
	color: #fff;	
	border-radius: 2px;
}

.page-nav.active {
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	border-top-color: rgb(255, 99, 71);
	border-bottom-color: rgb(161, 186, 245);
}

.navbar-brand, .title, .page-nav {
	font-family: "Josefin Slab", cursive;
	text-transform: uppercase;
}

/* sections */
.section {
	padding: 2em 2em 0 2em;
	border-bottom-width: 5px;
	border-bottom-style: dashed;
}

/* about section */
#about-sec {
	background-color: #000;
	text-align: start;
	padding: 9em 2em 2em 2em;
	color: #fff;
	border-bottom-color: rgb(255, 99, 71);
}

/* skills section */
#skills-wrapper {
	background-color: rgb(255, 99, 71);
	border-bottom-color: #fff;
}

#skills {
	list-style: none;
	display: flex;
	justify-content: center;
	flex: 0 0 20%;
	flex-wrap: wrap;
}

#skills li {
	font-size: 1.5em;
	margin: 10px;
}

/* portofolio section */
#portofolio-sec {
	background-color: #fff;
	border-bottom-color: rgb(161, 186, 245);
	padding-bottom: 1em;
}

#grid-sizer {
	width: 18em;
	margin: 1px;
}

.project-wrapper, .project-wrapper:hover, .project-wrapper:active, .project-wrapper:visited, .project-wrapper:focus {
	text-decoration: none;
	color: inherit;
}

.project {
	max-width: 100%;
	width: 18em;

	transition: background-color 0.1s;
	-moz-transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
}

.project:hover {
	background-color: rgb(189, 238, 242);
}

.project-img {
	width: 100%;
}

.project:active {
	background-color: #BDC8C9;
}

.project-info {
	text-align: left;
	margin: 0 10px;
}

.project-link {
	text-align: center;
	font-size: 2em; 
}

/* contact section */
#contact-sec {
	color: rgb(60, 60, 61);
	background-color: rgb(161, 186, 245);
	border-bottom-color: #000;;
}

#contact-form * {
	width: 30em;
	max-width: 100%;
}

#contact-form-submit {
	color: #fff;
}

.form-control {
	background-color: inherit;
	border: none;
	border-bottom: 2px solid rgb(32, 42, 64);
}

#footer {
	background-color: #000;
}

#soc-med {
	list-style: none;
	display: flex;
	font-size: 2em;
	justify-content: flex-end;
}

#soc-med li {
	margin: 5px;
}
