/* styles */
/* called by your view template */

body {
	font-family: Helvetica, Arial;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

.example-list {
	list-style-type: none;
}

.example {
	margin: 0 0 0 7em;
}
